################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/UnlockOKR.OKRSupoort/config/applicationhost.config

/UnlockOKR.OKRSupoort.Application/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Application/obj/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Application.Tests/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Application.Tests/obj/Debug/netcoreapp3.1

/UnlockOKR.OKRSupoort.Domain/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Domain/obj/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Domain.Tests/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Domain.Tests/obj/Debug/netcoreapp3.1

/UnlockOKR.OKRSupoort.Infrastructure/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Infrastructure/obj/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Infrastructure.Tests/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Infrastructure.Tests/obj/Debug/netcoreapp3.1

/UnlockOKR.OKRSupoort.Persistence/bin/Debug/netcoreapp3.1
/UnlockOKR.OKRSupoort.Persistence/obj/Debug/netcoreapp3.1

/UnlockOKR.OKRSupoort.Application/bin/Debug
/UnlockOKR.OKRSupoort.Application/obj/Debug
/UnlockOKR.OKRSupoort.Application/bin/
/UnlockOKR.OKRSupoort.Application/obj/
/UnlockOKR.OKRSupoort.Application.Tests/bin/
/UnlockOKR.OKRSupoort.Application.Tests/obj/

/UnlockOKR.OKRSupoort.Domain/bin/Debug
/UnlockOKR.OKRSupoort.Domain/obj/Debug
/UnlockOKR.OKRSupoort.Domain/bin/
/UnlockOKR.OKRSupoort.Domain/obj/
/UnlockOKR.OKRSupoort.Domain.Tests/bin/
/UnlockOKR.OKRSupoort.Domain.Tests/obj/

/UnlockOKR.OKRSupoort.Infrastructure/bin/Debug
/UnlockOKR.OKRSupoort.Infrastructure/obj/Debug
/UnlockOKR.OKRSupoort.Infrastructure/bin/
/UnlockOKR.OKRSupoort.Infrastructure/obj/
/UnlockOKR.OKRSupoort.Infrastructure.Tests/bin/
/UnlockOKR.OKRSupoort.Infrastructure.Tests/obj/

/UnlockOKR.OKRSupoort.Persistence/bin/Debug
/UnlockOKR.OKRSupoort.Persistence/obj/Debug
/UnlockOKR.OKRSupoort.Persistence/bin/
/UnlockOKR.OKRSupoort.Persistence/obj/

